.icon {
    font-size: 38px;
}

.card {
    margin-top: 15px;
    max-width: 400px;
}

.answers {
    padding: 15px;
}

.answers-list{
    padding: 0;
    list-style: none;
    padding-bottom: 160px;
}

h5 {
    margin-bottom: 0;
}

h5 small {
    font-weight: normal;
    font-size: smaller;
}

.description {
    padding-left: 5px;
    border-left: 2px solid #eeeeee;
    font-size: 14px;
    margin-top: 5px;
}

.answer__form {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: #424242;
    /* border-top: 4px solid #7b1fa2 ; */
}