html,
body {
  height: 100%;
  background-color: #303030;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 40px auto;
  margin-top: 20px;
}

.space {
  flex: 1 1 auto;
}
